*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: oblique;
    background-color: rgb(45, 30, 80);   
}

/* Apresentação do meu portfólio, likedin e ghithub */
#nave{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  border-bottom: solid 3px white;
}
/* Nome do site  */
.nave_nome h1{
    color: white;   
    margin: 30px;
}

/*   Esta parte são os links de contato na parte direita superior do site CONTATO */
.nave_contato ul{
    font-size: normal;
    float: right;
    display: flex;
    list-style-type: none;
    margin: 60px;
    padding: 0px;
}
.nave_contato li a img{
    width: 60px;
    margin: 10px;
    padding: 5px;
}

/* Centralização de todo o conteúdo do site,  */
#combustivel, #perfume, #login, #cloneFlix,#minhaAcao, #burguer{
    margin: 10px auto;
    padding: 10px;
    max-width: 600px;
    width: 100%;
    height: auto;
    text-align: center;
}

h1,h2{
    color: white;
    text-align: center;
    font-size: 30pt;
}
p{
    color: rgb(22, 230, 67);
    text-align: center;
    justify-content: center;
    margin: 15px;
}
img{
    display: flex;
    max-width: 500px;
    margin: auto;
    align-items: center;
}

/* Os links que estão debaixo das fotos */
.link a{  
    display: block;
    margin: auto;
    padding: 0px;
    text-decoration: none;
    color: white;
    background-color: yellowgreen;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 16pt;  
    max-width: 500px; 
}
.link a:hover{
    /* display: block;  */
    
    color: white;
    /* transition: 0.9s; */
    
}
/* Meu perfil  */
#profile{
    width: 100%;
    margin: 0px;
    padding: 10px;
    background-color: rgba(27, 24, 41, 0.972);
    border-top: solid 3px white;
    border-bottom: solid 3px white;
}
.profile_img img{
    border-radius: 50%;
    width: 200px;
}


/* A responsividade do site para mobile */
@media (min-width:320px){
    img{
        width: 100%;
    }
    #nave{
        height: 100px;
        max-width: 100%;
        margin: 0px;
    }
    
    .nave_nome h1{
        margin: 15px;
        font-size: auto;
    }
    .nave_contato ul{
        max-width: 100%;
        margin: 0;
        padding: 0;
    }
    .nave_contato img{
        max-width: 100%;
        padding: 100px;
        margin: 80px;   
    }  
}
@media (max-width:480px){
    .nave_nome h1{
        font-size: 16pt;
    }
    .nave_contato img{
        display: flex;
        float: right;
        max-width: 100%;
    }
    .link a{
        max-width: 100%;
        display: block; 
        background-color: yellowgreen;
        color: white;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }   
}
#footer{
    height: 100px;
    border-top: solid white 3px;
    background-color: rgba(27, 24, 41, 0.972);
}
.footer-register{
    padding-top: 40px;
    float: inline-end;
}
