*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: oblique;    
}
/* Fotos de fundo e Perfil */
.header{
    display: inline-block;
    width: 100%;
    background-image: url(img/jsimage.png);
    background-repeat: no-repeat;
    background-size: 100%;   
    background-position: 100%;    
}
.header-perfil-image img{
    position: relative;
    top: 103px;
    margin-left: 20px;
    border-radius: 50%;
    width: 200px;
}
  /* Esta parte são os links de contato na parte direita superior do site CONTATO*/
.social-network ul{
    float: right;
    display: flex;
    list-style-type: none;
    margin-right: 20px;
    padding: 0px;
}
.social-network li a img{
    width: 35px;
    margin: auto 5px ;
    padding: 5px;
} 

/* Conteúdo quem sou eu */
.content-apresentacao {
    display: inline-block;
    top: 110px;
    position: relative;  
    margin: 40px ;   
}
.texto-apresentacao{
    position: static;
    max-width: 80%;
    margin: auto;
    line-height: 1.5em;
    color: #505157;
    font-weight: bold;
    font-size: 1.6em; 
    font-family: 'Times New Roman', Times, serif
}
.texto-apresentacao strong{
    font-size: 1.8em;
}
/* Meu portifolio */
.content-portifolio{
    margin: 200px 0 100px 0;   
}
.content-portifolio ul,li{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-decoration: none;
    max-width: 100%;
    margin: 10px auto ;
}
.portifolio{ 
    width: 300px;
    padding:25px;
    /* border: #44acf2 solid 1px; */
    border-radius: 15%;
    box-shadow:7px 3px 13px ;
}
.portifolio img{
    max-width: 100%;
    height: 135px;
    margin: 5px auto;
    border: 1px solid;
}

.footer{
    display: inline-block;
    width: 100%;
    background-color:#44acf2 ;
    height: 300px;   
}
.footer-social-network  {
    display: flex;
    width: 100%;   
}
.footer-social-network  a img{
    width: 37px;
    margin: auto 5px ;
    padding: 5px;
}
.footer-nome{
   text-align: center;
   margin-top:98px ;   
} 
/* A responsividade do site para mobile */
@media screen and (max-width:508px){
    .header{
        display: inline-block;
        max-width: 100%;
        background-image: url(img/jsimage.png);
        background-position-y:10%;
        background-repeat: no-repeat;
        background-size: 100%;
    }
    .header-perfil-image img{
        display: flex;
        margin: 20px auto;
        position: initial;
        border-radius: 50%;
        width: 120px;
        max-width: 100%;  
    }
    .social-network li a img{
        max-width: 30px;
        padding: 5px;
        margin-bottom: 10px;
    } 
    .content-apresentacao{
        top: 0;
        margin: 30px 0;
    } 
    .texto-apresentacao{
        margin: 0 6px;
        max-width: 100%;
        font-size: 1rem; 
        text-align: justify;  
    }
    .texto-apresentacao strong{
        font-size: 1.6em; 
    }
    .content-portifolio{
        margin: 50px 0;
    }
    .content-portifolio ul,li{
        max-width: 100%;
        padding: 0;  
        margin: 0 ;
         
    }
    .portifolio{
        
        padding: 10px;
        width: 270px; 
        box-shadow: none;
        margin: 6px auto;
        border: none;
    }
    .portifolio img{
        max-width: 100%;
        margin: 0 auto;  
        padding: 0;
        border-radius: 5px;
        border: 1px solid;
    }
}
   